<div
  class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-6 p-4 max-w-4xl mx-auto h-[80vh] mb-0">
  <!-- Left: Square embedded map -->
  <div class="w-full md:w-1/2 aspect-square shadow overflow-hidden rounded shadow-[0_10px_20px_rgba(0,0,0,0.5)]">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d83771.12418346167!2d9.7042395!3d48.994457!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47985566826790dd%3A0x1a105e68d2143393!2sRene%20Haag%20-%20S%C3%A4gewerk!5e0!3m2!1sde!2shr!4v1754229921967!5m2!1sde!2shr"
      width="100%" height="100%" style="border:0;" allowfullscreen="allowfullscreen" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <!-- Right: Text content -->
  <div class="w-full md:w-1/2">
    <div class="space-y-4">
      <div>
        <i class="fa-solid fa-user fa-xl"></i>
        <span>
          Rene Haag
        </span>
      </div>
      <div>
        <i class="fa-solid fa-location-dot fa-xl"></i>
        <span>
          Taläckerhof 1, 74405 Gaildorf, Deutschland
        </span>
      </div>
      <div>
        <i class="fa-solid fa-phone fa-xl"></i>
        <span>
          +49 1525 9711538
        </span>
      </div>
      <div>
        <i class="fa-solid fa-at fa-xl"></i>
        <span>
          info&#64;haagsaegewerk.de
        </span>
      </div>
    </div>
    <div class="pt-16">
      <h4 class="text-md font-semibold">Auch hier zu finden:</h4>
      <a target="_blank"
         href="https://www.kleinanzeigen.de/s-bestandsliste.html?userId=151508331&utm_source=sharesheet&utm_campaign=socialbuttons&utm_medium=social_profil&utm_content=app_android">
        <img height="20" width="100" ngSrc="assets/general/kleinanzeigen_logo.png" alt="kleinanzeigen">
      </a>
    </div>
    <div class="pt-2">
      <a target="_blank"
         href="https://holzquelle.com/kaufen-verkaufen/p/dienstleistung-rene-haag-saegewerk-saegewerk-27918602">
        <img class="rounded" height="20" width="100" ngSrc="assets/general/holzquelle_logo.png" alt="holzquelle">
      </a>
    </div>
  </div>

</div>
<div class="max-w-4xl mx-auto">
  <app-contact-form></app-contact-form>
</div>
