<div class="w-full">
  <!-- Container fills remaining screen height after navbar (72px = 4.5rem) -->
  <div class="w-full" style="height: calc(100vh - 4.6rem);">
    <div class="relative w-full h-full overflow-hidden">
      <img
          ngSrc="assets/ueber-mich/Ueber_mich.webp"
          alt="Inhaber Rene Haag Sägewerk"
          class="w-full h-full object-cover object-top"
          style="object-position: 0, 90%;"
          fill/>

      <div
          class="absolute bottom-8 right-8 bg-white/65 text-black/80 p-8 w-[60%] overflow-y-auto overflow-x-hidden break-words rounded">
        <h3 class="text-3xl font-semibold mb-4">Das Sägewerk Rene Haag</h3>
        <p class="text-lg">
          Ich bin Rene Haag, {{ getCurrentAge() }} Jahre alt und wohne in Münster bei Gaildorf.
          Die Arbeit mit Holz hat mir schon immer Freude gemacht – nicht nur wegen der Vielseitigkeit des Materials,
          sondern auch wegen seiner Natürlichkeit.
          Die Idee, Stammholz aus dem eigenen Wald zu hochwertiger Schnittware zu verarbeiten, hat mich dabei besonders
          fasziniert.
          Daher habe ich den Schritt gewagt, mich neben meinem Studium der Elektrotechnik mit meinem eigenen kleinen
          Sägewerk selbstständig zu machen.
          Somit kann ich mich tagtäglich meiner großen Leidenschaft widmen.
          Gerne bringe ich meine Erfahrung und Begeisterung für Holz auch in Ihr Vorhaben ein – ich freue mich auf Ihre
          Aufträge.
        </p>
      </div>

    </div>
  </div>
</div>
