<div class="w-full">
  <!-- Container fills remaining screen height after navbar (72px = 4.5rem) -->
  <div class="w-full" style="height: calc(100vh - 4.6rem);">
    <div class="relative w-full h-full overflow-hidden">
      <img
        ngSrc="assets/ueber_mich.png"
        alt="Inhaber Rene Haag Sägewerk"
        class="w-full h-full object-cover object-top"
        style="object-position: 0, 90%;"
        fill/>

      <div
        class="absolute bottom-8 right-8 bg-white/65 text-black/80 p-8 h-[90%] w-[60%] overflow-y-auto overflow-x-hidden break-words">
        <h3 class="text-3xl font-semibold mb-4">Das Sägewerk Rene Haag</h3>
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
          dolor sit amet.

          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
          feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
          delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
          commodo consequat.
        </p>
      </div>

    </div>
  </div>
</div>
