<footer>
  <div
    class="bottom-0 left-0 w-full bg-white shadow-[0_-4px_8px_rgba(0,0,0,0.15)] z-50 px-4 py-4 flex flex-col justify-center items-center space-y-1 text-sm text-gray-700">
    <!-- Desktop -->
    <div class="hidden sm:flex flex-col items-center space-y-1 text-center">
      <span>Rene Haag Sägewerk</span>
      <span>74405 Gaildorf, Deutschland | Taläckerhof 1 | +49 1525 9711538 | info&#64;haagsaegewerk.de</span>
      <br>
      <span>
        <a href="#">Sitemap | </a>
        <a href="#">Impressum | </a>
        <a href="#">Datenschutz</a>
      </span>
    </div>

    <!-- Mobile -->
    <div class="flex sm:hidden flex-col space-y-1 text-center">
      <span>Rene Haag Sägewerk</span>
      <span>74405 Gaildorf, Deutschland</span>
      <span>Taläckerhof 1</span>
      <span>+49 1525 9711538</span>
      <span>info&#64;haagsaegewerk.de</span>
      <span>
        <a href="#">Sitemap | </a>
        <a href="#">Impressum | </a>
        <a href="#">Datenschutz</a>
      </span>
    </div>

  </div>
</footer>
